
.App {
  background-image: url('./assets/search-bg.jpg');
  text-align: center;
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.App-header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  transition: transform 1s ease;
}

.App-header > div {
  position: absolute;
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-image: url('./assets/search-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; /* Keep the background fixed */
}
